*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffe7bf;
  letter-spacing: 1.5px;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 45px;
  line-height: 2;
}
p {
  font-size: 18px;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* header section: */
header {
  text-align: center;
}
header > h1 {
  color: #810955;
}
header > img {
  width: 300px;
}
/* main section */
main {
  background-color: #ee81b3;
  width: 750px;
  margin: 50px auto;
  border-radius: 8px;
  border: 2px solid black;
  padding: 25px;
}
li {
  padding-left: 10px;
  border-left: 4px solid transparent;
}
.important {
  border-color: #ffe7bf;
  color: #ffe7bf;
}
li,
.first-section {
  margin-bottom: 15px;
}
.link {
  background-color: #ffe7bf;
  padding: 8px;
  border-radius: 8px;
  color: rgba(42, 27, 27, 0.75);
}
.link:active,
.link:hover {
  background-color: rgba(42, 27, 27, 0.75);
  color: #ffe7bf;
}
